
<!-- <div ng-repeat="user in users">
	<span>
		Name: <strong> {{user.userName}} </strong> 
		<br/>
		Came From: {{user.address}}
	</span>
</div>	 -->
{{vm.currentQuiz}}
<div>	
	<form name="question">
	   <h1> {{vm.currentQuiz.question}}  [score:{{vm.userScore}}]</h1>
	   <div ng-repeat = "answer in vm.currentQuiz.answers"> 
	   	 <!-- ng-from is required if the name property is used for validation e.g  question.$valid-->
	     <ng-form name="options">
	      <!-- $parent is required because ng-repeat creates its own scope which needs to passed to the parent-->
	      <input type="radio" name="option" ng-model="$parent.user.answer" value={{answer.statement}}>
	   			{{answer.statement}}
	     </ng-form>
	    	      
	   </div>
	   
	   <button  ng-disabled="!question.$dirty" class="btn btn-primary" ng-click="vm.getNextQuestion(user)" > Next </button>	   
	</form>
</div>